.small-padding
  .col-xs-12.inline-block.no-padding.text-justify
    %p
      Experimentado en el desarrollo de aplicaciones web que manejan datos e interactúan con el usuario en tiempo real debido a la implementación de AJAX.
    %p
      Al utilizar ruby on rails cuento con conocimientos en otras tecnologías como Coffeescript, SCSS y HAML que me permiten construir aplicaciones de forma ágil y eficiente.
    %p.text-center
      %strong
        " Cuando programo en rails, en serio que me divierto. "
        %span.e1a-laughing.e1a-2x
    %p
      Al trabajar con PHP, suelo hacerlo orientado a objetos y siguiendo una arquitectura MVC. Para la parte de las vistas me gusta utilizar el motor de plantillas Smarty.


  .col-xs-6.col-sm-4.col-md-3.inline-block
    .icon.text-center
      .devicon.devicon-rails-plain
    %div.text-center.text-red1.text-medium.bold.no-margin.no-padding
      Ruby on Rails

  .col-xs-6.col-sm-4.col-md-3.inline-block
    .icon.text-center
      .devicon.devicon-php-plain
    %div.text-center.text-red1.text-medium.bold.no-margin.no-padding
      PHP

  .col-xs-6.col-sm-4.col-md-3.inline-block
    .icon.text-center
      .devicon.devicon-git-plain
    %div.text-center.text-red1.text-medium.bold.no-margin.no-padding
      git
