%div#contact.small-padding
  %div.col-xs-12.col-sm-4.col-md-12.no-padding.no-margin.inline-block
    %h2
      .pic
    %h3.text-naranja1.text-center.regular.padding-bottom
      %span
        <strong>R</strong>amsses <strong>C</strong>orona <strong>M</strong>.

  %div#datosP.col-xs-12.col-sm-8.col-md-12.no-padding.no-margin.inline-block.vertical-middle
    %div.sm.medium

      .col-xs-12.col-sm-6.col-md-12.inline-block.small-padding.no-padding-bottom
        %span.fa.fa-whatsapp.text-white.bg-red1.circle
        55-2117-4117

      .col-xs-12.col-sm-6.col-md-12.inline-block.small-padding.no-padding-bottom
        %span.fa.fa-envelope.text-white.bg-red1.circle
        ramssescorona@gmail.com

      .col-xs-12.col-sm-6.col-md-12.inline-block.small-padding.no-padding-bottom
        %span.fa.fa-skype.text-white.bg-red1.circle
        Ramsses-R6@hotmail.com

      .col-xs-12.col-sm-6.col-md-12.inline-block.small-padding.no-padding-bottom
        %span.fa.fa-facebook.text-white.bg-red1.circle
        %a.text-black2{:href => "https://www.facebook.com/ramsses.corona"} fb.ramsses.corona

      .col-xs-12.col-sm-6.col-md-12.inline-block.small-padding.no-padding-bottom
        %span.fa.fa-github.text-white.bg-red1.circle
        %a.text-black2{:href => "https://github.com/ramsses06"} GitHub.ramsses06


