.small-padding
  .col-xs-12.inline-block.no-padding.text-justify
    %p
      Tengo sólidos conocimientos en lenguajes de Frontend, permitiéndome diseñar interfaces web atractivas, amigables y directas. Siempre ajustándome a conseguir la mejor experiencia de usuario.

  .col-xs-6.col-sm-4.col-md-3.inline-block
    .icon.text-center
      .devicon.devicon-html5-plain
    %div.text-center.text-red1.text-medium.bold.no-margin.no-padding
      HTML 5

  .col-xs-6.col-sm-4.col-md-3.inline-block
    .icon.text-center
      .devicon.devicon-css3-plain
    %div.text-center.text-red1.text-medium.bold.no-margin.no-padding
      CSS 3

  .col-xs-6.col-sm-4.col-md-3.inline-block
    .icon.text-center
      .devicon.devicon-sass-original
    %div.text-center.text-red1.text-medium.bold.no-margin.no-padding
      SASS (scss)

  .col-xs-6.col-sm-4.col-md-3.inline-block
    .icon.text-center
      .devicon.devicon-bootstrap-plain
    %div.text-center.text-red1.text-medium.bold.no-margin.no-padding
      Bootstrap

  .col-xs-6.col-sm-4.col-md-3.inline-block
    .icon.text-center
      .devicon.devicon-javascript-plain
    %div.text-center.text-red1.text-medium.bold.no-margin.no-padding
      Javascript

  .col-xs-6.col-sm-4.col-md-3.inline-block
    .icon.text-center
      .devicon.devicon-jquery-plain
    %div.text-center.text-red1.text-medium.bold.no-margin.no-padding
      JQuery

  .col-xs-6.col-sm-4.col-md-3.inline-block
    .icon.text-center
      .devicon.devicon-coffeescript-original
    %div.text-center.text-red1.text-medium.bold.no-margin.no-padding
      Coffeescript
