.small-padding
  .col-xs-12.inline-block.no-padding.text-justify
    %p
      Algunos extras que he aprendido en el transcurso de mi vida.
    %p
      %ul
        %li
          -# %span.e1a-white_check_mark.e1a-lg
          Administración de repositorios en plataformas como GitHub y Bitbucket.
        %li
          Amplia experiencia en el gestor de contenidos WordPress, gestionando distintos sitios web.
        %li
          Manejo de la herramienta Photoshop en un nivel intermedio-avanzado.
        %li
          Familiarizado con los requerimientos SEO que un sitio web necesita, así como también con plataformas como Adwords y Analytics.


  .col-xs-6.col-sm-4.col-md-3.inline-block
    .icon.text-center
      .devicon.devicon-github-plain
    %div.text-center.text-red1.text-medium.bold.no-margin.no-padding
      Github

  .col-xs-6.col-sm-4.col-md-3.inline-block
    .icon.text-center
      .devicon.devicon-bitbucket-plain
    %div.text-center.text-red1.text-medium.bold.no-margin.no-padding
      Bitbucket

  .col-xs-6.col-sm-4.col-md-3.inline-block
    .icon.text-center
      .devicon.devicon-wordpress-plain
    %div.text-center.text-red1.text-medium.bold.no-margin.no-padding
      Wordpress

  .col-xs-6.col-sm-4.col-md-3.inline-block
    .icon.text-center
      .devicon.devicon-photoshop-line
    %div.text-center.text-red1.text-medium.bold.no-margin.no-padding
      Photoshop
