.small-padding
  .col-xs-12.inline-block.no-padding.text-justify
    %p
      Experiencia haciendo deploy de aplicaciones construidas en rails, ya sea en un servidor virtual desde DigitalOcean hasta utilizar la plataforma de heroku.
      %p
        Tengo conocimientos necesarios para hacer funcionar un servidor con apache, RVM y Passenger, prácticamente apps en RoR.
      %p
        Estoy acostumbrado a utilizar bases de datos relacionales como MySQL y PostgreSQL.

  .col-xs-6.col-sm-4.col-md-3.inline-block
    .icon.text-center
      .devicon.devicon-apache-line
    %div.text-center.text-red1.text-medium.bold.no-margin.no-padding
      Apache

  .col-xs-6.col-sm-4.col-md-3.inline-block
    .icon.text-center
      .devicon.devicon-heroku-original
    %div.text-center.text-red1.text-medium.bold.no-margin.no-padding
      Heroku

  .col-xs-6.col-sm-4.col-md-3.inline-block
    .icon.text-center
      .devicon.devicon-mysql-plain
    %div.text-center.text-red1.text-medium.bold.no-margin.no-padding
      MySQL

  .col-xs-6.col-sm-4.col-md-3.inline-block
    .icon.text-center
      .devicon.devicon-postgresql-plain
    %div.text-center.text-red1.text-medium.bold.no-margin.no-padding
      PostgreSQL
