%article#habilidades.medium-padding
  %h2
    Un poco sobre mi ...
    %span.e1a-man_tone1.e1a-lg
  .text-medium.regular.small-padding.text-justify
    %p
      Que tal, Mi nombre es Ramsses. Soy egresado de la carrera de Ingeniería en Sistemas Computacionales, de la Universidad tecnológica de México. Soy un joven que le gustan los retos, el desarrollo web y adquirir nuevos conocimientos todo el tiempo.

  %h2
    Mi filosofía ...
    %span.e1a-owl.e1a-lg
  .text-medium.regular.small-padding.text-justify
    %p
      El constante aprendizaje nos convierte en mejores personas; expande la mente y las posibilidades; es la base para construir de la nada.
    %p
      La vida es para aprender y la muerte para descansar.

  %h2
    Mis pasatiempos ...
    %span.e1a-art.e1a-lg
    %span.e1a-musical_keyboard.e1a-lg
    %span.e1a-video_game.e1a-lg
  .text-medium.regular.small-padding.text-justify
    %p
      Para pasar el tiempo libre me gusta leer libros o artículos sobre cualquier tema interesante; practicar piano (aunque aún soy principiante); dibujar, pintar y en algunas ocasiones porqué no?, Una partida de call of duty.
